asgiref==3.8.1
awscli==1.27.0
awsebcli==3.20.10
backports.zoneinfo==0.2.1
blessed==1.20.0
boto3==1.37.22
botocore==1.29.0
cement==2.8.2
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.3
Django==4.2.20
django-environ==0.11.2
docutils==0.16
dotenv==0.9.9
environ==1.0
idna==3.10
jmespath==1.0.1
mysqlclient==2.2.7
pathspec==0.10.1
pyasn1==0.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==5.4.1
requests==2.32.3
rsa==4.7.2
s3transfer==0.11.4
semantic-version==2.8.5
six==1.16.0
sqlparse==0.5.3
termcolor==1.1.0
typing_extensions==4.13.0
urllib3==1.26.20
wcwidth==0.1.9
